<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link th:href="@{../css/main.css}" rel="stylesheet" />

</head>
<body>
<table class="table">
        <tr th:each="car : ${cars}"> 
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        </tr>
</table>
</body>
</html>