<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{../css/main.css}" rel="stylesheet" />

</head>
  <div class="form-group">
    <label>Make</label>
    <input type="text" class="form-control"  placeholder="Enter car make" name="make">
    <label>Model</label>
    <input type="text" class="form-control"  placeholder="Enter car model" name="model">
    <label>Year</label>
    <input type="text" class="form-control"  placeholder="Enter car year" name="year"> 
    <label>Trunk Length</label>
    <input type="text" class="form-control"  placeholder="Enter trunk length" name="length">
    <label>Trunk Width</label>
    <input type="text" class="form-control"  placeholder="Enter trunk width" name="width">        
    <label>Trunk Height</label>
    <input type="text" class="form-control"  placeholder="Enter trunk height" name="height">  
    <button type="submit" name="submit" class="btn btn-primary" value="0">Save</button>
  </div>
</form>
</body>
</html>